<!DOCTYPE html>
<html>
<head>
    <title>Add Note - Smart Study</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header class="header">

        <div class="logo">
            Smart Study
        </div>

        <nav class="nav">
            <a href="/dashboard">Dashboard</a>
            <a href="/notes">View Notes</a>
        </nav>

    </header>

    <div class="form-container">

        <h2>Add Study Note</h2>

        <form method="POST">

            <label>Subject</label>

<select name="subject" required>
    <option value="">Select Subject</option>
    <option value="Python">Python</option>
    <option value="Java">Java</option>
    <option value="DBMS">DBMS</option>
    <option value="Artificial Intelligence">Artificial Intelligence</option>
    <option value="Computer Networks">Computer Networks</option>
    <option value="PHP">PHP</option>
</select>

<label>Note Type</label>

<select name="note_type" required>
    <option value="">Select Note Type</option>
    <option value="Class Notes">Class Notes</option>
    <option value="Study Material">Study Material</option>
    <option value="Important Questions">Important Questions</option>
    <option value="Assignment">Assignment</option>
    <option value="Revision Notes">Revision Notes</option>
</select>

            <label>Title</label>
            <input type="text"
                   name="title"
                   placeholder="Enter note title"
                   required>

            <label>Note Content</label>
            <textarea name="content"
                      placeholder="Enter your notes"
                      rows="8"
                      required></textarea>

            <button type="submit">
                Save Note
            </button>

        </form>

    </div>

</body>
</html>