<!DOCTYPE html>
<html>
<head>
    <title>Login - Smart Study</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header class="header">

        <div class="logo">
            Smart Study
        </div>

        <nav class="nav">
            <a href="/">Home</a>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </nav>

    </header>

    <div class="form-container">

        <h2>Student Login</h2>

        <form method="POST">

            <label>Email</label>
            <input type="email" name="email"
                   placeholder="Enter your email" required>

            <label>Password</label>
            <input type="password" name="password"
                   placeholder="Enter your password" required>

            <button type="submit">
                Login
            </button>

        </form>

    </div>

</body>
</html>